################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/DirectorySync/v16
/packages/Autofac.4.9.2
/packages/System.Windows.Interactivity.WPF.2.0.20525
/.vs
*/bin
*/obj
/packages
