################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/DirectorySync/obj/Debug
/.vs/DirectorySync/v16
/DirectorySync/bin/Debug
/packages/Autofac.4.9.2
/.vs
/DirectorySync/obj/Release
